.avo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25rem;
    padding: 2.5rem;

    background-color: lightgray;
    border-radius: 10px;

}

.avo h1 {
    font-size: 2rem;
    text-align: center;
}